@media screen and (max-width: 1200px) {
  
  .container {
    max-width: 1200px;
  }

  .main__log {
    min-width: 600px;
  }

  .main__goals__block {
    min-width: 580px;
  }

}


@media screen and (max-width: 1080px) {

  .container {
    max-width: 1000px;
  }

  .main__log {
    min-width: 800px;
  }

  .main__goals__block {
    min-width: 500px;
  }

}


@media screen and (max-width: 1024px) {
  
  .container {
    max-width: 1024px;
  }

  .main__block {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    row-gap: 60px;
  }

  .main__goals__block {
    min-width: 400px;
  }

  .main__image {
    margin: 30px 0 20px 0;
    display: block;
    width: 350px;
  }
}


@media screen and (max-width: 900px) {
  

  .container {
    max-width: 900px;
  }

  .container-secondary {
    display: flex;
    justify-content: center;
  }

  .adaptive-menu {
    display: block;
    margin: 20px 20px 0 20px;
    cursor: pointer;
    transition: 0.5s;
  }

  .adaptive-menu.active {
    scale: 115%;
  }

  .navigation {
    position: absolute;
    text-align: center;
    padding: 60px 50px 50px 50px;
    top: -200%;
    background: rgba(51, 51, 51, 0.9);;
    border-radius: 2px 2px 50px 50px;
    box-shadow: 0 0 99999px #000, 0 0 99999px #000, 0 0 99999px #000;
    transition: 0.5s;
    z-index: 999;
  }

  .navigation.active {
    top: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .header__navigation {
    display: flex;
    flex-direction: column;
  }
  
  .header__nav {
    padding: 30px 15px;
  }
  
  .header__btn {
    display: block;
    color: #fff;
    background-color: rgb(22, 22, 22);
    padding: 30px 90px;
    border-radius: 15px;
    box-shadow: 5px 6px 10px #000;
    transition: 0.7s;
  }

  .title__title {
    letter-spacing: 2px;
    font-size: 56px;
  }
  
  .title__text {
    font-size: 30px;
    letter-spacing: 4px;
  }

  .main__resume {
    font-size: 17px;
  }

  .container__block {
    column-gap: 20px;
  }

  .main__goals__block {
    min-width: 300px;
  }

  .main__goals__title {
    font-size: 20px;
  }

  .goals__list li {
    font-size: 15px;
  }
  
  .next {
    font-size: 16px !important;
  }

  .main__log {
    min-width: 600px;
  }

  .main__log__title {
    font-size: 23px;
  }
  
  .main__log__content {
    font-size: 18px;
  }
  
}



@media screen and (max-width: 768px) {
  
  .container {
    max-width: 768px;
  }

  .main__block {
    min-height: auto;
    border-radius: 30px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
  }

  .container__block {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 30px;
    align-items: center;
  }

  .main__resume {
    font-size: 19px;
  }

  .main__goals__block {
    min-width: 500px;
  }

  .main__goals__title {
    font-size: 21px;
  }

  .goals__list li {
    font-size: 16px;
  }
  
  .next {
    font-size: 17px !important;
  }

  .main__image {
    margin: 30px 0 20px 0;
    display: block;
    width: 350px;
  }

  .main__log__title {
    font-size: 20px;
  }
  
  .main__log__content {
    font-size: 15px;
  }

}


@media screen and (max-width: 700px) {

  .main__goals__block {
    min-width: 500px;
  }

  .main__log {
    min-width: 500px;
  }

}


@media screen and (max-width: 660px) {

  .title__title {
    letter-spacing: 2px;
    font-size: 50px;
  }
  
  .title__text {
    font-size: 26px;
    letter-spacing: 4px;
  }

  .main__log {
    min-width: auto;
  }

}


@media screen and (max-width: 600px) {

  .title__title {
    letter-spacing: 2px;
    font-size: 48px;
  }
  
  .title__text {
    font-size: 22px;
    letter-spacing: 4px;
  }

  .main__resume {
    font-size: 16px;
  }

  .main__goals__block {
    min-width: 380px;
  }

  .main__log {
    min-width: 380px;
  }

}


@media screen and (max-width: 480px) {
  
  .container {
    max-width: 400px;
  }

  .main__block {
    min-height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    row-gap: 30px;
  }

  .header__btn {
    display: block;
    color: #fff;
    background-color: rgb(22, 22, 22);
    border-radius: 15px;
    transition: 0.5s;
  }
  
  .header__btn:hover {
    color: pink;
    scale: 100%;
    letter-spacing: 2px;
    box-shadow: 0 0 20px pink, 0 0 40px pink, 0 0 50px #fff;
  }
  
  .header__btn:active {
    scale: 100%;
    letter-spacing: 2px;
    box-shadow: 0 0 20px pink, 0 0 45px pink, 0 0 55px #fff;
  }

  .title__title {
    letter-spacing: 2px;
    font-size: 42px;
  }
  
  .title__text {
    font-size: 19px;
    letter-spacing: 4px;
  }

  .main__img {
    width: 300px;
  }

  .main__figure {
    width: 300px;
    margin: auto;
  }

  .main__goals__block {
    min-width: 300px;
  }

  .main__log {
    min-width: 300px;
  }

  .main__log__title {
    font-size: 18px;
  }
  
  .main__log__content {
    font-size: 14px;
  }

}


@media screen and (max-width: 420px) {
  .container {
    max-width: 360px;
  }

  .block__resume-goals {
    row-gap: 50px;
  }

  .main__resume {
    font-size: 13px;
    margin: 0 25px;
  }

  .main__goals__block {
    min-width: auto;
  }

  .main__goals__title {
    font-size: 18px;
  }

  .goals__list li {
    font-size: 14px;
  }
  
  .next {
    font-size: 16px !important;
  }

  .main__log {
    min-width: auto;
  }
}
