@import url(reset.css);

/* Global */


html {
  scroll-behavior: smooth;
}

::selection {
  color: pink;
  background: #ffffff2a;
}

.none {
  display: none;
}


/* ScrollBar */


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff; 
}
 
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #9e9e9e; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(68, 68, 68); 
}

::-webkit-scrollbar-thumb:active {
  background: pink;
}

body {
  background-color: rgb(22, 22, 22);
  font-family: 'Rubik', arial, sans-serif;
  color: #fff;
}

.container {
  max-width: 1700px;
  margin: 0 60px;
}

/* Variables */

:root {
  --secondary: rgba(255, 255, 255, 0.5);
}


/* NavBar */


.header {
  display: flex;
  justify-content: center;
}

.header__navigation {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.header__nav {
  padding: 10px 0px;
}

.header__btn {
  display: block;
  color: #fff;
  background-color: rgb(22, 22, 22);
  padding: 15px 25px;
  border-radius: 15px;
  transition: 0.7s;
}

.header__btn:hover {
  scale: 105%;
  color: pink;
  letter-spacing: 5px;
  box-shadow: 0 0 20px pink, 0 0 40px pink, 0 0 50px #fff;
}

.header__btn:active {
  scale: 90%;
}


/* UI For small screen devices */


.adaptive-menu {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  margin: 5px auto;
  width: 200px;
  height: 8px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.5);
}




/* Title */


.title {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title__title {
  letter-spacing: 2px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
}

.quote {
  text-shadow: 0 0 4px pink;
}

h1.title__title span {
  transition: 0.4s;
}

h1.title__title span:hover {
  color: rgb(255, 199, 209);
  text-shadow: 0 0 20px #fff;
}

.title__text {
  font-size: 30px;
  color: var(--secondary);
  text-align: center;
  letter-spacing: 4px;
}


/* Main */


.main {
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}

.block {
  background-color: rgb(39, 39, 39);
  min-height: 550px;
  border-radius: 30px;
  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
}

.container__text-table {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  align-items: center;
}

.main__resume {
  font-size: 18px;
  margin-bottom: 15px;
}

.main__resume-link {
  text-decoration: none;
  color: pink;
  transition: 0.3s;
}

.main__resume-link:hover {
  color: rgb(255, 134, 154);
}

.small-text {
  font-size: 60%;
  color: var(--secondary);
}


/* Warning */


.alert-word {
  color: rgb(0, 255, 0);
  font-size: 25px;
}

.main__warning {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 800;
}


/* Image */


.main__image {
  max-height: 410px;
}

.main__image-link {
  color: #fff;
}

.main__img {
  border-radius: 50px;
  width: 350px;
  scale: 97%;
}

.main__image-title {
  padding: 15px 10px;
  text-align: center;
}

.main__figure {
  background-color: rgb(22, 22, 22);
  width: 350px;
  height: 420px;
  box-shadow: 0 0 10px #000, 0 0 15px #000;
  transition: 0.4s;
  border-radius: 20px;
}

.main__figure:hover {
  scale: 90%;
  box-shadow: 0 0 15px #fff, 0 0 30px pink, 0 0 60px pink;
}


/* Links */


.main__table {
  text-align: center;
  margin: 10px 10px 10px;
  padding: 20px;
  width: 700px;
  height: 200px;
}

table.main__table, tr, th, td {
  border-bottom: 1px solid #fff;
  border-collapse: collapse;
}

table.main__table tr td a {
  text-decoration: none;
  color: pink;
  transition: 0.3s;
}

table.main__table tr:nth-child(even) {
  background-color: rgba(255, 192, 203, 0.068);
  transition: 0.2s;
}

table.main__table tr {
  transition: 0.2s;
}

.main__table--glow-row:hover:nth-child(even) {
  background-color: #ffffff2c;
}

.main__table--glow-row:hover {
  background-color: rgba(255, 192, 203, 0.199);
}

table.main__table tr td a:hover {
  color: #fff;
  text-shadow: 0 0 10px pink;
}
