@import url(reset.css);
@import url(styles.css);
@import url(devices-adaptive.css);


/* Title */

.title {
  text-align: center;
  margin-bottom: 40px;
}

.title__main {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 900;
}

.title__description {
  color: var(--secondary);
  font-size: 25px;
}


/* Main */


.main {
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content:center;
}

.block {
  background-color: rgb(39, 39, 39);
  min-height: unset;
  border-radius: 30px;
  padding: 30px 10px;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.main__title {
  margin-bottom: 30px;
  font-size: 20px;
  color: var(--secondary);
}

.main__sector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.main__card {
  width: 300px;
  height: 385px;
  text-align: center;
  background-color: #dbdbdb;
  margin: 0 40px;
  border-radius: 15px;
  box-shadow: 0 0 5px #fff;
}

.main__card-img {
  width: 300px;
  height: 300px;
  scale: 95%;
  border-radius: 15px;
}

.main__card-title {
  padding: 15px;
  color: #202020;
  font-size: 18px;
}


@media screen and (max-width: 1024px) {
  
  .main__card {
    margin: 0 10px;
  }
  
  .main__card-title {
    font-size: 14px;
  }
}


@media screen and (max-width: 900px) {
  
  .main__card {
    width: 200px;
    height: 270px;
    text-align: center;
    background-color: #dbdbdb;
    margin: 0 30px;
    border-radius: 15px;
    box-shadow: 0 0 5px #fff;
  }
  
  .main__card-img {
    width: 200px;
    height: 200px;
    scale: 95%;
    border-radius: 15px;
  }
  
  .main__card-title {
    padding: 10px;
    color: #202020;
    font-size: 13px;
  }
  
}


@media screen and (max-width: 768px) {
  
  .main__title {
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--secondary);
  }

  .main__card {
    width: 200px;
    height: 270px;
    text-align: center;
    background-color: #dbdbdb;
    margin: 0 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px #fff;
  }
  
  .main__card-img {
    width: 200px;
    height: 200px;
    scale: 95%;
    border-radius: 15px;
  }
  
  .main__card-title {
    padding: 10px;
    color: #202020;
    font-size: 13px;
  }

}

@media screen and (max-width: 480px) {
  
  .block {
    background-color: rgb(39, 39, 39);
    min-height: unset;
    border-radius: 30px;
    padding: 30px 10px;
  
    display: flex;
    text-align: center;
  }

  .main__sector {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main__card {
    width: 300px;
    height: 370px;
    text-align: center;
    background-color: #dbdbdb;
    margin: 20px 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px #fff;
  }
  
  .main__card-img {
    width: 300px;
    height: 300px;
    scale: 95%;
    border-radius: 15px;
  }
  
  .main__card-title {
    padding: 10px;
    color: #202020;
    font-size: 13px;
  }

}