.information {
  padding: 10px;
  background-color: #202020;
  border-radius: 25px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.choice__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  column-gap: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.2s;
}

.choice__button {
  min-width: 500px;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.choice__button:hover {
  color: pink;
  scale: 105%;
}

.choice-title {
  font-family: var(--secondary-font);
  font-weight: 500;
}


.info {
  flex-direction: column;
  margin: 10px auto;
  row-gap: 20px;
  background-color: #191919;
  border-radius: 25px;
  padding: 15px;
}

.info-title {
  font-size: 2rem;
  font-weight: 500;
}

.info-p {
  font-size: 1.2rem;
  font-weight: 300;
}

.info-1, .info-2,
.info-3, .info-4 {
  display: none;
  animation: transition 1s;
}

.active {
  display: flex !important; 
}

@keyframes transition {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}