header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav__list {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.nav__list__item {
  padding: 10px 0px;
  display: block;
  color: #fff;
  padding: 15px 25px;
  border-radius: 15px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.5s;
}

.nav__btn:hover {
  scale: 105%;
  color: pink;
  letter-spacing: 5px;
  border: 1px solid rgba(255, 192, 203, 0.5);
  box-shadow: 0 0 2px pink, inset 0 0 5px pink;
}

.nav__btn:active {
  scale: 90%;
}


/* UI For small screen devices */
.adaptive-menu {
  position: relative;
  display: none;
  cursor: pointer;
  z-index: 1000;
}

.bar {
  display: block;
  margin: 5px auto;
  width: 200px;
  height: 5px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.5);
}

.marquee {
  position: absolute;
  color: pink;
  font-size: 20px;
  opacity: 0.5;
  animation: handsome 5s infinite;
}

@keyframes handsome {
  0%, 100% {
    color: #fff;
  }
  50% {
    color: pink;
    text-shadow: 0 0 10px pink;
  }
}

.marquee-top {
  z-index: -2;
  opacity: 0.2;
  font-size: 10px;
  top: 49px;
  position: absolute;
}

.marquee-bottom {
  z-index: -2;
  opacity: 0.2;
  font-size: 10px;
  top: 72px;
  position: absolute;
}