.title {
  text-align: center;
  margin-bottom: 40px;
}

.title__main {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 500;
}

.title__description {
  color: var(--secondary);
  font-size: 25px;
  font-weight: 300;
}


/* Choice */
.choice {
  position: relative;
  display: flex;
  margin: 25px auto;

  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.choice__block {
  background-color: rgb(39, 39, 39);
  border-radius: 30px;
  height: auto;
  width: 1200px;
  padding: 40px 40px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  transition: 1s;
}


@media screen and (max-width: 1250px) {
  .choice__block {
    width: 1000px;
  }
}

@media screen and (max-width: 1035px) {
  .choice__block {
    width: 800px;
  }
}

@media screen and (max-width: 855px) {
  .choice__block {
    position: relative;
    width: 600px;
    justify-content: center;
  }

  .choice__buttons {
    position: absolute;
    top: 55px;
    left: 70px;
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.6s;
  }

  .choice__buttons img {
    width: 75px;
  }

  .choice-title {
    display: none;
  }

  .appearing__info {
    transform: translateY(80px);
    border-radius: 25px 25px 5px 5px;
  }
}

@media screen and (max-width: 635px) {
  .choice__block {
    width: 500px;
  }

  .choice__buttons {
    position: absolute;
    top: 65px;
    left: 55px;
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.6s;
  }

  .choice__buttons img {
    width: 60px;
  }

  .choice-title {
    display: none;
  }

  .appearing__info {
    transform: translateY(80px);
    border-radius: 25px 25px 5px 5px;
  }
}

@media screen and (max-width: 520px) {
  .choice__block {
    width: 400px;
  }

  .choice__buttons {
    top: 65px;
    left: 55px;
    column-gap: 30px;
  }

  .choice__buttons img {
    width: 50px;
  }
}

@media screen and (max-width: 420px) {
  .choice__block {
    width: 350px;
    padding: 40px 15px;
  }

  .choice__buttons {
    top: 65px;
    left: 45px;
    column-gap: 20px;
  }

  .choice__buttons img {
    width: 50px;
  }

  .appearing__info {
    transform: translateY(90px);
    padding: 30px 10px;
    margin: 40px 5px;
  }
}

@media screen and (max-width: 365px) {
  .choice__block {
    width: 300px;
  }

  .choice__buttons {
    top: 70px;
    left: 39px;
    column-gap: 15px;
  }

  .choice__buttons img {
    width: 45px;
  }

  .appearing__info {
    transform: translateY(90px);
  }
}